{% extends 'visitors_management/base.html' %}

{% block content %}
    <main role="main" class="cover text-center m-5">
        <h1 class="cover-heading p-3 text-dark" style="font-family: Roundfra;font-size:10vw">VMS
            <span class="text-muted align-top pl-0" style="font-family:calibri;font-size:50px">&reg;</span>
        </h1>
        <h3>Visitor Management System</h3>
            <p class="px-5">
                Our premises is visited by many individuals for official and unofficial purpose.<br>
                This VMS System is built by our corporation to keep track of every visitor.<br>
                Sign Up today and make use of this incredible vms system to register your organisation vistor's data safely.
            </p>

        <a href="#" class="btn btn-lg btn-dark">Sign Up</a>
    </main>
{% endblock %}